version: '3.8'

services:
  # The Backend 
  backend:
    build: ./Backend
    container_name: aqi-backend
    ports:
      
      - "5001:5000"
    restart: unless-stopped

  # The Frontend 
  frontend:
    build: ./Frontend
    container_name: aqi-frontend
    ports:
   
      - "8080:80"
    restart: unless-stopped
    depends_on:
      - backend
